<div class="popup-modal">
    <div class="authentification-form">
        <span class="close">&#10005;</span>
        <form action="/register" class="register-form" method="post" enctype="multipart/form-data" id="registerForm">
            <span class="fieldName"> Username : </span>
            <span class="validationMessage" id="usernameValidate"></span>
            <input name="username" type="text" id="usernameText" placeholder="username" class="register-username"/>
            <span class="fieldName"> Password : </span>
            <span class="validationMessage" id="passwordValidate"></span>
            <input name="password" type="password" id="passwordText"placeholder="password" class="register-password"/>
            <span class="fieldName"> Email : </span>
            <span class="validationMessage" id="emailValidate"></span>
            <input name="Email" type="text" id="emailText" placeholder="email address" class="register-email"/>
            <span class="fieldName"> Header Image : </span>
            <input name="headImage" type="file" />
            <button type="submit" form="registerForm" value="Submit">create</button>
            <!-- <button onclick="register()">create</button> -->
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
            <span class="fieldName"> Username : </span>
            <input type="text" placeholder="username" class="user-name"/>
            <span class="fieldName"> Password : </span>
            <input type="password" placeholder="password" class="password"/>
            <button onclick="login()">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>
