<div class="row">
    <div class="col-md-6">
        <p>Developed by <b>Shike Feng</b> and <b>Silviu Tugulan</b></p>

        <p id="copyRightText">© 2017, All rights reserved.</p>
    </div>
    <div class="col-md-6">
        <p>Contact Information: <a href="https://github.com/ShikeFeng">Shike</a> or <a href="https://github.com/TSilviu">Silviu</a></p>
        <a id="backToTopButton" href="#">Back to Top</a>

    </div>
</div>