<nav class="navbar navbar-inverse navbar-fixed-top navigation-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html">WebSiteName</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/index.html" class="hvr-underline-reveal" id="home">Home</a></li>
                <li><a href="/category.html/id=1" class="hvr-underline-reveal" id="category1">Programming</a></li>
                <li><a href="/category.html/id=2" class="hvr-underline-reveal" id="category2">Digital</a></li>
                <li><a href="/category.html/id=3" class="hvr-underline-reveal" id="category3">Software</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li id="UserInfo" class="dropdown"><a href="#"><span class="dropbtn"><img class="dropbtn" src="..<%= userImgPath %>"> <%= userName %></span></a>
                     <div id="myDropdown" class="dropdown-content">
                        <a href="/my_stories.html/userName=<%= userName %>">My Stories</a>
                        <a id="myProfile" href="#about">Profile</a>
                        <a href="/edit_post.html" id="writePost">Write Post</a>
                        <a id="logout" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
