<nav class="navbar navbar-inverse navbar-fixed-top navigation-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index.html"><img class="logo" src="../../svg/brain-organic.svg"/></a>
            <a class="website-name navbar-brand" href="/index.html">CShare</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/category.html/id=1" class="hvr-underline-reveal" id="category1">Crypto</a></li>
                <li><a href="/category.html/id=2" class="hvr-underline-reveal" id="category2">Machine Intelligence</a></li>
                <li><a href="/category.html/id=3" class="hvr-underline-reveal" id="category3">Algorithms</a></li>
                <li><a href="/category.html/id=4" class="hvr-underline-reveal" id="category4">Enterprise</a></li>
                <li><a href="/category.html/id=5" class="hvr-underline-reveal" id="category5">Research</a></li>
                <li><a href="/category.html/id=6" class="hvr-underline-reveal" id="category6">Others</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li id="UserInfo" class="dropdown"><a href="#"><span class="dropbtn"><img class="dropbtn" src="..<%= userImgPath %>"> <%= userName %></span></a>
                     <div id="myDropdown" class="dropdown-content">
                        <a href="/my_stories.html/userId=<%= userId %>">
                            <img src="../../svg/stories.svg"/>
                            My Stories
                        </a>
                        <a href="/profile.html">
                            <img src="../../svg/default.svg"/>
                            Profile
                        </a>
                        <a href="/edit_post.html">
                            <img src="../../svg/write-post.svg"/>
                            Write Post
                        </a>
                        <a class="logout-element" href="/logout">
                            <img src="../../svg/log-out.svg"/>
                            Log out
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
