body {
    background-color: rgb(250,250,250);
    min-width: 40em;
    color: black;
    z-index: 0;
    overflow-x: hidden;
}

/*
    Style sheet for the fixed navigation bar at top
*/

#signup, #login {
    display: inline-block;
}

#signup, #login:hover{
    color: black !important;
}

/*
.nav-bar {
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    background-color:  #33ff77;
    z-index: 2;
    border: 0.2em solid red;
}
*/

.navbar {
    background-color: white;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a{
    color: black!important;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: gray!important;
}

.navbar-inverse .navbar-brand:hover{
    color: gray!important;
}

.navbar-brand {
    color: black !important;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:hover{
    color: black;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
/*  background: #2098D1;*/
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#home:hover{
    color: black;
}

#home:hover:before{
    background: red;
}


#category1:hover:before{
    background: purple;
}

#category2:hover:before{
    background: blue;
}

#category3:hover:before{
    background: yellow;
}

.icon-bar{
    background-color: black !important;
}
/*
:after, :before, :hover {
    color: black; !important
}
*/

/* The actual content of the homepage*/
.content {
    padding: 0;
    padding-top: 3em;
}

.module {
    margin: 1em 0;
}
.model-1 {
    height: auto;
}

.topStory{

}

#topImage {
    height: auto;
    max-height: 25em;
}

#topStory-description{
    height: auto;
}

.clickable {
    cursor: pointer;
}

.topStory-title{
    padding: 0.5em 0.5em;
    font-size: 2em;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
}
.intro {
    padding-left: 1em;
    font-size: 1.5em;
}

.topStory-author-info {
    padding: 1em 0.5em;
}

.topStory-author-info img {
    width: 3em;;
    border-radius: 50%;
    /*position: top left;*/
}

/* Stylesheet for stories */

.latestStories {
    width: 100%;
    margin-top: 1.5em;
}

.story-image{
    width: 100%;
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
}

.story {
    max-height: 35em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.story-title {
    padding: 0.5em 0.5em;
    font-weight: bolder;
}
.story-intro {
    padding: 0 0.5em;
    font-size: 1.2em;
    max-height: 10%;
    overflow: hidden;
}
.story-author-info {
    padding: 0.5em 0.5em;
}
.story-author-info img{
    width: 2.5em;
    border-radius: 50%;
    /*position: top left;*/
}

.story-image {
    background-position: center;
}

/*#story1-1 .story-image{*/
    /*background-image: url(../img/javaorcpp.png);*/
/*}*/

/*#story1-2 .story-image{*/
    /*background-image: url(../img/python.png);*/
/*}*/

/*#story1-3 .story-image{*/
    /*background-image: url(../img/node.png);*/
/*}*/

#story-2-1 {
    /*background-image:;*/
}
/* The second section*/

.model-2 {

}
.model-2 .story {
}


.bounding-box{
    margin: 1em 0.5em;
    height: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em;
    overflow: hidden;
}

#story-2-1 {
    /*background-image: url(../img/iphone7.png);*/
    color:white;
}

#story-2-2 {
    /*background-image: url(../img/s7edge.png);*/
    color:antiquewhite;
}

#story-2-3 {
    /*background-image: url(../img/blackberry_priv.png);*/
    color: white;
}

#story-2-4 {
    /*background-image: url(../img/nokia.png);*/
    color: antiquewhite;;
}

.bounding-box h3{
    padding-top: 15%;
    font-weight: 700;
    font-size: 2em;
}




/* Stylesheet for the third model*/
.bounding-box-2{
    margin: 1em 0.5em;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em;
    overflow: hidden;
}

/*#story-3-1 .story-image{*/
    /*background-image: url(../img/chomeplugins.png);*/
/*}*/

/*#story-3-2 .story-image{*/
    /*background-image: url(../img/github.png);*/
/*}*/

/*#story-3-3 .story-image{*/
    /*background-image: url(../img/musics.png);*/
/*}*/

/*#story-3-4 .story-image{*/
    /*background-image: url(../img/jetbrains);*/
/*}*/

/*#story-3-5 .story-image{*/
    /*background-image: url(../img/slack.png);*/
/*}*/

/*#story-3-6 .story-image{*/
    /*background-image: url(../img/bracket.png);*/
/*}*/
