body {
    min-width: 40em;
    color: black;
    z-index: 0;
}

/*
    Style sheet for the fixed navigation bar at top
*/
#heading {
    height: 2.5em;
}
#signup, #login {
    display: inline-block;
}

.nav-bar {
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    background-color: #1affa3;
    z-index: 2;
    border: 0.2em solid red;
}

.category {
    height: 2em;
}
a.home:hover,
a.home:active {
  background: #A62A2A;
}

a.videos:hover,
a.videos:before {
  background: #FF2400;
}

a.almanac:hover,
a.almanac:before {
  background: #7F00FF;
}

a.snippets:hover,
a.snippets:before {
  background: #002859;
}

a.forums:hover,
a.forums:before {
  background: #238E23;
}


/* The actual content of the homepage*/
.content {
    padding: 0;
    padding-top: 3.5em;
}

.module {
    margin: 1em 0;
}
.model-1 {
    height: auto;
}

.topStory{
    
}

#topImage {
    height: auto;
    max-height: 25em;
}

#topStory-description{
    height: auto;
}

.topStory-title{
    padding: 0.5em 0.5em;
    font-size: 2em;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
}
.intro {
    padding-left: 1em;
    font-size: 1.5em;
}
.topStory-author-info {
    padding: 1em 0.5em;
}
.topStory-author-info img {
    width: 3em;;
    border-radius: 50%;
    position: top left;
}

/* Stylesheet for stories */

.latestStories {
    width: 100%;
    margin-top: 1.5em;
}

.story-image{
    width: 100%;
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
}

.story {
    max-height: 35em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.story-title {
    padding: 0.5em 0.5em;
    font-weight: bolder;
}
.story-intro {
    padding: 0 0.5em;
    font-size: 1.2em;
    max-height: 10%;
    overflow: hidden;
}
.story-author-info {
    padding: 0.5em 0.5em;
}
.story-author-info img{
    width: 2.5em;
    border-radius: 50%;
    position: top left;
}


.story-image {
    background-position: center;
}
#story1-1 .story-image{
    background-image: url(../img/javaOrCpp.png);
}

#story1-2 .story-image{
    background-image: url(../img/python.png);
}

#story1-3 .story-image{
    background-image: url(../img/node.png);
}

#story-2-1 {
    background-image:;
}
/* The second section*/

.model-2 {
    
}
.model-2 .story {
}


.bounding-box{
    margin: 1em 0.5em;
    height: 20em;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 1em;
    overflow: hidden;
}

#story-2-1 {
    background-image: url(../img/iphone7.png);
    color:white;
}

#story-2-2 {
    background-image: url(../img/s7edge.png);
    color:antiquewhite;
}

#story-2-3 {
    background-image: url(../img/blackberry_priv.png);
    color: white;
}

#story-2-4 {
    background-image: url(../img/Nokia.png);
    color: antiquewhite;;
}

.bounding-box h3{
    padding-top: 15%;
    font-weight: 700;
    font-size: 2em;    
}




/* Stylesheet for the third model*/
.bounding-box-2{
    margin: 1em 0.5em;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 1em;
    overflow: hidden;
}

#story-3-1 .story-image{
    background-image: url(../img/chomePlugins.png);
}

#story-3-2 .story-image{
    background-image: url(../img/GitHub.png);
}

#story-3-3 .story-image{
    background-image: url(../img/musics.png);
}

#story-3-4 .story-image{
    background-image: url(../img/jetbrains);
}

#story-3-5 .story-image{
    background-image: url(../img/slack.png);
}

#story-3-6 .story-image{
    background-image: url(../img/bracket.png);
}
