body {
    background-color: rgb(250,250,250);
}

.edit-content{
    align-self: center;
    margin-top: 10%;
}

.button{
    margin-top: 0.5%;
    cursor: pointer;
    border: none;
}

.button:hover{
    background-color: rgb(250,250,250);
}

.submit-button{
    color: white;
    background-color: deepskyblue;
    transition-duration: 0.2s;
    font-weight: bold;
    padding: 1% 1% 1% 1%;
}

.submit-button:hover{
    color: deepskyblue;
}

textarea{
    border: none;
}