<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <title>Edit post</title>
    <meta charset="utf-8"></meta>
    <meta name="viewpoint" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="This is the edit page; users will write stories in this page"></meta>
    <meta name="author" content="Shike and Silviu"></meta>

    <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Custom CSS -->
    <link href="../../css/customize.css" rel="stylesheet"></link>
    <link href="../../css/edit-post.css" rel="stylesheet"></link>
</head>
<body>

<header>
    <% if(session.loggedIn) {%>
        <% var userName = session.userName%>
        <% var userImgPath = session.imageUrl%>
        <% include ../partials/header1 %>
    <% } else { %>
        <% include ../partials/header %>
    <% } %>
</header>

<!--Login popup-->
<% include ../partials/auth-popup.ejs %>

<div class="container-fluid edit-content">
    <div class="row">
        <div class="col-md-12">
            <form action="/writePost" id="postForm" method="post" encType="multipart/form-data">

                <div class="container title-textarea">
                    <textarea name="Title" rows="1" cols="50" maxlength="50" type="text" placeholder="Title" form="postForm" id= "titleText" autofocus="autofocus" required="required"></textarea> <br>
                    (Maximum characters : 50) <br>
                    You have <span class="charLeft" id="titleCharLeft">50</span> characters left
                </div>

                <div class="container article-textarea">
                    <textarea name="Intro" rows="2" cols="50" maxlength="100" placeholder="Short Introduction" form="postForm" id="introText" required="required"></textarea><br>
                    (Maximum characters : 100) <br>
                    You have <span class="charLeft" id="introCharLeft">100</span> characters left
                </div>

                <div class="container article-textarea">
                    <textarea name="Article" type="text" rows="10" cols="100" placeholder="Content" form="postForm" required="required"></textarea>
                </div>

                <div class="container category-drop">
                    <input name="Category", list="categories" placeholder="Choose a category" type="text" required="required"/>
                    <datalist id="categories">
                        <option value="Programming"/>
                        <option value="Degital Device"/>
                        <option value="Software"/>
                    </datalist>
                </div>
                
                <div class="container">
                    <input name="Image" class="button" type="file"/>
                </div>
                <div class="container">
                    <input class="button submit-button" type="submit" value="Submit article"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!--	JavaScrip files included-->
<!-- JQuery -->
<script src="../../js/jquery-3.1.1.js"></script>
<!-- Bootstrap -->
<script src="../../js/bootstrap.min.js"></script>
<!-- AES Encrption -->
<script src="../../js/crypto-js/crypto-js.js"></script>
<!-- Custom JS-->
<script src="../../js/validate.js"></script>
<script src="../../js/navbar.js"></script>
<script src="../../js/popup.js"></script>
<script src="../../js/editpost.js"></script>
</body>
</html>
