<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
	<title>Home</title>
	<meta charset="utf-8"></meta>
	<meta name="viewpoint" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content="Web Technology coursework"></meta>
	<meta name="author" content="Shike and Silviu"></meta>
	
	<!-- Bootstrap CSS -->
	<link href="../../css/bootstrap.min.css" rel="stylesheet"></link>
	<!-- Custom CSS -->
	<link href="../../css/customize.css" rel="stylesheet"></link>
    <link href="../../css/popup-box.css" rel="stylesheet"></link>
</head>
<body>
    <!--Login popup-->
    <div class="login-popup">
        <div class="login-popup-content">
            <span class="close">&#10005;</span>
            <span class="login-text">Login</span>
            <div class="login-logic">
                <div class="container user-name-container">
                    <textarea class="login-textarea usen-name" name="user-name" rows="1" cols="30" placeholder="Username"></textarea>
                </div>
                <div class="container password-container">
                    <textarea class="login-textarea password" name="password" rows="1" cols="30" placeholder="Password"></textarea>
                </div>
                <button class="login-button">Login</button>
            </div>
            <a href="#" class="login-link forgot">Forgot password?</a>
            <a href="#" class="login-link register">Register</a>
        </div>
    </div>
    <!--Navigation Bar-->
    <div class="nav-bar container-fluid">
        <div class="container-fluid" id="heading">
            <div class="rows">
                <div class="col-sm-3">
                        <a class="brand" id="home" href="#">WebSiteName</a>
                </div>
                <div class="col-sm-3 navbar-right" id ="userlog"> 
                    <ul >
                        <li id="signup"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li id="login"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <nav class="main-nav row">
                  <a class="home col-sm-2 category" href="#content">Home</a>
                  <a class="videos col-sm-2 category" href="#programming">Programming</a>
                  <a class="almanac col-sm-2 category" href="#digital">Digital</a>
                  <a class="snippets col-sm-2 category" href="#">Snippets</a>
            </nav>
        </div>
    </div>
    
    
	<div class="container content">
        <!--The first section-->
        <section class="container-fluid module model-1" id="programming">
            <h2 class="topic"><a  href="category.html">Programming ></a></h2>
            <div class="row topStory">
                <a href="read_post.html"><img class="col-sm-8 clickable" id="topImage" src="../../img/loveprogramming.png"/></a>
                <div class="col-sm-4" id="topStory-description">
                    <a href="read_post.html">
                        <h3 class="topStory-title clickable"><%=posts[0].title%></h3>
                        <p class="intro clickable">just try to enjoy it ^_^ </p>
                    </a>
                        <div class="topStory-author-info clickable">
                    <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                    </div>
                </div>
            </div>

            <div class="row latestStories">
                <div class="col-sm-4 story clickable" id="story1-1">
                    <div class="story-image"></div>
                        <h4 class="story-title">Java or C++ ? Which one is better ?</h4>
                        <p class="story-intro">Both are very popular, whether one is better than the other depends on ...</p>
                    <div class="story-author-info">
                        <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                    </div>
                </div>
                <div class="col-sm-4 story clickable" id="story1-2">
                    <div class="story-image"></div>
                        <h4 class="story-title">How should a beginner learn python ?</h4>
                        <p class="story-intro">Some advice from experienced python developer</p>
                    <div class="story-author-info">
                        <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                    </div>
                </div>
                <div class="col-sm-4 story clickable" id="story1-3">
                    <div class="story-image"></div>
                        <h4 class="story-title">Why is NodeJS so popular these years</h4>
                        <p class="story-intro">Google V8 engine has made NodeJS become the first choice for a lot of web developers</p>
                    <div class="story-author-info">
                        <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                    </div>
                </div>
            </div>

        </section>
        
        <!--The Second section-->
        <section class="container-fluid module model-2" id="digital">
            <h2 class="topic"><a href="">Digital Device ></a></h2>
            <div class="row">
                <div class="col-sm-7 story clickable">
                    <div class="bounding-box" id="story-2-1">
                        <h3>What are the new features in iphone 7</h3>
                    </div>
                </div>
                <div class="col-sm-5 story clickable">
                    <div class="bounding-box" id="story-2-2">
                        <h3>New Features in Samsung Edge 7</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 story clickable">
                    <div class="bounding-box" id="story-2-3">
                        <h3>Blueberry Priv, will it be the last Blackburry Phone ?</h3>
                    </div>
                </div>
                <div class="col-sm-7 story clickable">
                    <div class="bounding-box" id="story-2-4">
                        <h3>When Will NOKIA Come Back ?</h3>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="container-fluid" id="">
            <h2 class="topic"><a href="category.html">Software ></a></h2>
            <div class="row">
                <div class="col-sm-4 story clickable">
                    <div class="bounding-box-2" id="story-3-1">
                        <div class="story-image"></div>
                        <h4 class="story-title">Top 10 Chrome Plugins</h4>
                        <p class="story-intro">Chrome Plugins can be quite useful for your daily work</p>
                        <div class="story-author-info">
                            <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 story clickable">
                    <div class="bounding-box-2" id="story-3-2">
                        <div class="story-image"></div>
                        <h4 class="story-title">Basic GitHub Operations</h4>
                        <p class="story-intro">It is a necessary skill for software developers, follow the tutorial and learn it</p>
                        <div class="story-author-info">
                            <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 story clickable">
                    <div class="bounding-box-2" id="story-3-3">
                        <div class="story-image"></div>
                        <h4 class="story-title">So Many Online Music Apps, Choose One</h4>
                        <p class="story-intro">Different features in these music apps </p>
                        <div class="story-author-info">
                            <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 story clickable">
                    <div class="bounding-box-2" id="story-3-4">
                        <div class="story-image"></div>
                        <h4 class="story-title">JetBrain Products</h4>
                        <p class="story-intro">JetBrain has developed several good software for developers</p>
                        <div class="story-author-info">
                            <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 story clickable">
                    <div class="bounding-box-2" id="story-3-5">
                        <div class="story-image"></div>
                        <h4 class="story-title">Where Work Happens</h4>
                        <p class="story-intro">Whatever work means for you, Slack brings all the pieces and people you need together so you can actually get things done</p>
                        <div class="story-author-info">
                            <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 story clickable">
                    <div class="bounding-box-2" id="story-3-6">
                        <div class="story-image"></div>
                        <h4 class="story-title">A modern, open source text editor that understands web design.</h4>
                        <p class="story-intro">With focused visual tools and preprocessor support, Brackets is a modern text editor that makes it easy to design in the browser. It's crafted from the ground up for web designers and front-end developers.</p>
                        <div class="story-author-info">
                            <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                        </div>
                    </div>
                </div>
            </div>
        </section>
	</div>
	
<!--	JavaScrip files included-->
<!-- JQuery -->
<script src="../../js/jquery-3.1.1.js"></script>
<!-- Bootstrap -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Custom JS-->
<script src="../../js/popup.js"></script>
<script src="../../js/post_controller.js"></script>
</body>
</html>
