<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <title>Category</title>
    <meta charset="utf-8"></meta>
    <meta name="viewpoint" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="This is the my stories page,
    it contains all user's stories; it contains all the blog posts from a category"></meta>
    <meta name="author" content="Shike and Silviu"></meta>

    <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Custom CSS -->
    <link href="../../css/customize.css" rel="stylesheet"></link>
</head>
<body>

</body>
</html>