<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <title>Home</title>
    <meta charset="utf-8"></meta>
    <meta name="viewpoint" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="Web Technology coursework"></meta>
    <meta name="author" content="Shike and Silviu"></meta>

    <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Custom CSS -->
    <link href="../../css/customize.css" rel="stylesheet"></link>
    <link href="../../css/read-post.css" rel="stylesheet"></link>
</head>
<body>

<header>
    <% if(session.loggedIn) {%>
        <% var userName = session.userName%>
        <% var userImgPath = session.imageUrl%>
        <% include ../partials/header1 %>
    <% } else { %>
        <% include ../partials/header %>
    <% } %>
</header>

<!--Login popup-->
<% include ../partials/auth-popup.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container article-title"><h1><%=content.title%></h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="container post-picture">
                <img src="../..<%=content.imagePath%>"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container article-content">
                <h4>
                    <%=content.textContent%>
                </h4>
            </div>
        </div>
    </div>
</div>

<!--User info-->
<div class="container user-info">
    <div class="story-author-info">
        <img src="../../img/shikefeng.jpg" /> Brilliant Robert
    </div>
</div>

<!--	JavaScrip files included-->
<!-- JQuery -->
<script src="../../js/jquery-3.1.1.js"></script>
<!-- Bootstrap -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Custom JS-->
<script src="../../js/navbar.js"></script>
<script src="../../js/popup.js"></script>
</body>
</html>
