<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <title>Home</title>
    <meta charset="utf-8"></meta>
    <meta name="viewpoint" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="Web Technology coursework"></meta>
    <meta name="author" content="Shike and Silviu"></meta>

    <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Custom CSS -->
    <link href="../../css/customize.css" rel="stylesheet"></link>
    <link href="../../css/read-post.css" rel="stylesheet"></link>
    <link href="../../css/popup-box.css" rel="stylesheet"></link>
</head>
<body>

<!--Login popup-->
<div class="login-popup">
    <div class="login-popup-content">
        <span class="close">&#10005;</span>
        <span class="login-text">Login</span>
        <div class="login-logic">
            <div class="container user-name-container">
                <textarea class="login-textarea usen-name" name="user-name" rows="1" cols="30" placeholder="Username"></textarea>
            </div>
            <div class="container password-container">
                <textarea class="login-textarea password" name="password" rows="1" cols="30" placeholder="Password"></textarea>
            </div>
            <button class="login-button">Login</button>
        </div>
        <a href="#" class="login-link forgot">Forgot password?</a>
        <a href="#" class="login-link register">Register</a>
    </div>
</div>

<!--Navigation Bar-->
<div class="nav-bar container-fluid">
    <div class="container-fluid" id="heading">
        <div class="rows">
            <div class="col-sm-3">
                <a class="brand" id="home" href="#">WebSiteName</a>
            </div>
            <div class="col-sm-3 navbar-right" id ="userlog">
                <ul >
                    <li id="signup"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li id="login"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="main-nav row">
            <a class="home col-sm-2 category" href="#content">Home</a>
            <a class="videos col-sm-2 category" href="#programming">Programming</a>
            <a class="almanac col-sm-2 category" href="#digital">Digital</a>
            <a class="snippets col-sm-2 category" href="#">Snippets</a>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container article-title"><h1>This is the title of the article</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="container post-picture">
                <img src="../../img/into_the_depths_by_mtadder-dabis9y.png"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container article-content">
                <h4>
                    Eos in facete aliquam perpetua. Ut amet nonumes pro, per impetus mediocrem vituperatoribus eu, homero molestiae duo ne. Pri eu ponderum prodesset. Ad usu timeam conceptam, eos dicta putent abhorreant ex. Vitae veniam molestie ut per, id mei tamquam reformidans.

                    Te vis altera ceteros convenire. Id mutat scribentur nam, placerat gubergren complectitur ea mei, pro erant euismod intellegebat no. No vel modo verterem, ea duo amet forensibus instructior. Solum ludus graeci ut mei, ei mel volumus laboramus, et animal latine vis.

                    Sea at atqui tibique argumentum, recteque intellegam no sea. Id enim admodum sea. Nostro aperiam sensibus vis id, tollit fastidii sea ei, melius adipiscing percipitur et nam. Te nonumy definitionem concludaturque duo. Commune pertinax at vim. Eos ex doctus hendrerit.

                    Noster nostro democritum an his. In alia nostro argumentum pri, vel animal mediocrem at. Purto noster pertinax ad eum, ut quo semper consequat, vix eirmod fuisset perpetua in. Appetere theophrastus ut has, ius et quis error ubique, ius possit utamur iisque ad.

                    Ad mel elitr equidem theophrastus, sumo audire disputationi ex vix. Nam ut dicant libris elaboraret, qui ludus feugait ad, pri homero corpora an. Sea libris vocent aliquando ea, ad denique officiis reprehendunt duo. Te mei utamur tamquam veritus, id soleat pericula vis. At vidit omnium sit. Nam at debitis propriae salutatus, quot quaeque nusquam eum in.

                    Vocibus adolescens est te, ignota fabellas dissentiunt at eam, nemore torquatos ad nam. Usu ex odio nihil. Vix explicari consulatu ut. Ei mei modus dicta euripidis, putant percipit consequuntur his eu. Feugiat scaevola at duo. Sit ridens probatus incorrupte ex, duo alii detracto quaestio et, mel laoreet philosophia an.

                    Cu eam salutatus persecuti, laudem nullam ex vix. Ius ridens perpetua petentium an, id qui everti dolores. Eum vocent civibus dissentiunt cu, ex nec denique appareat sapientem. Sed alia conclusionemque vituperatoribus ex, te partem facilisi vel. In dolore nonumes nam, in eum forensibus intellegam, dicam electram definiebas qui ad.

                    Usu verterem salutatus instructior et. Omnes melius lucilius te cum, ea cetero omittam mea, ipsum utroque repudiandae duo at. Vel quod minim an. Duo te zril vituperata concludaturque, eam quot iuvaret an.

                    Ad vis option liberavisse, sit complectitur conclusionemque at. Cu has harum adipiscing, et virtute ornatus ceteros sit, eum an solet veniam officiis. Ius decore vidisse oblique cu, lorem omnium dissentiet vix an. Persius principes molestiae in usu, pro at postea debitis moderatius.
                </h4>
            </div>
        </div>
    </div>
</div>

<!--User info-->
<div class="container user-info">
    <div class="story-author-info">
        <img src="../../img/shikefeng.jpg" /> Brilliant Robert
    </div>
</div>

<!--	JavaScrip files included-->
<!-- JQuery -->
<script src="../../js/jquery-3.1.1.js"></script>
<!-- Bootstrap -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Custom JS-->
<script src="../../js/popup.js"></script>
</body>
</html>
